{{define "register"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    {{template "header" .}}
    <script type="text/javascript">
        function doPasswordsMatch() {
            if ($('#password').val() != $('#password-confirm').val()) {
                $('#error').text("Please make sure passwords match.");
                console.log("test");
                return false;
            }
        }
    </script>
</head>
<body>
    <form action="/register" method="POST">
        <div><p id="error"></p></div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="password-confirm">Confirm Password</label>
            <input type="password" name="password" id="password-confirm" required>
        </div>
        <div>
            <input type="submit" onclick="return doPasswordsMatch()">
        </div>
    </form>
</body>
</html>
{{end}}